@{
    ViewData["Title"] = "Home Page";
}






<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-info" style="text-align:center"> Welcome to Bookstore</h2>
        </div>
    </div>
    <br />
    <div class="col text-center">
        <img src="~/images/Lib.jpg" class="img-fluid" alt="Bookstore">
    </div>
    <br />
    <div class="col text-center ">
        <a asp-action="Index" asp-controller="Books" class="btn btn-info form-control text-white " style="width:50%">
            Add New Book
        </a>
    </div>
</div>
